.agency-home {
  display: flex;
  height: 100vh;
}

.custom-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  background: linear-gradient(#fdc220, rgb(255, 162, 0));
  text-shadow: 0.3px 0.3px 8px #fdc22030;
  background-clip: text;
  color: transparent;
}

/* Sidebar Styles */
.sidebar {
  width: 220px;
  background: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  min-height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  height: calc(100% - 80px);
  transition: width 0.3s;
  z-index: 1000;
  box-shadow: 0.5px 0.5px 4px #fdc22060;
  border-radius: 0 10px 10px 0;
}

.nav .nav-link {
  color: white;
  border: 1px rgba(255, 255, 255, 0) solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.nav .nav-link:hover {
  color: #fdc220;
  background-color: #2f4f6d;
  border-radius: 10px;
}

/* .nav .nav-link.active {
  background-color: #345879;
  border-radius: 10px;
  border-bottom: 1.5px #fdc220 solid;
  font-weight: bold;
  color: white !important;
} */

/* Collapsed Sidebar Styles */
.sidebar.collapsed {
  width: 20px; /* Adjusted width for better accessibility */
}

/* Toggle Button Styles */
.btn-toggle {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 80px;
  width: 25px;
  transform: translateX(-50%) translateY(-50%);
  border: 0.5px solid #00188e;
  background: linear-gradient(to right, white, #758cff);
  color: #00188e;
  border-radius: 10px;
}

/* Content Area Styles */
.agency-content {
  margin-left: 230px;
  margin-top: 10px;
  width: calc(100% - 220px);
  transition: margin-left 0.3s, width 0.3s;
}

/* Adjust Content Area when Sidebar Collapses */
.sidebar.collapsed ~ .agency-content {
  margin-left: 30px;
  width: calc(100% - 30px);
}

/* Responsive Styles for Sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 190px;
  }

  .sidebar.collapsed {
    width: 15px;
  }

  .agency-content {
    margin-left: 0;
    width: 100%;
    padding-left: 25px;
  }

  .sidebar.collapsed ~ .agency-content {
    margin-left: 0;
    width: 100%;
  }
}

.page-content {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
