.wrapper{
    
    /* background: linear-gradient(to top right, #373737 0%, #000000 50%, black 100%); */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 10px 30px;
    text-align: center;
    /* From https://css.glass */
    /* background: rgba(142, 50, 255, 0.32); */
    background: rgba(255, 255, 255, 0.454);
    box-shadow: 0 2px 30px rgb(183, 106, 255) inset;
    border-radius: 16px;
    padding: 20px;
    animation: animate-border 4s linear infinite;
    
}

.form-container .heading {
    font-size: 27px;
    font-family: sans-serif;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: linear-gradient(#2969ff, #8d14ff);
    background-clip: text;
    color: transparent;
    /* font-family: cursive; */
}

form {
    position: relative;
    z-index: 2; 
}

label{
    display: block;
    margin: 5px 0 0 0 ;
    color: blueviolet;
}

input {
    appearance: none;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 300; 
}

input:hover {
    background-color: rgba(248, 234, 255, 0.751);
}

input:focus {
    background-color: rgba(255, 255, 255, 0.75);
    color: #1558ff;
}


form select{
    outline: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 auto 5px auto;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    
}

form select option{
    color: #1558ff;
}

form select:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

form select:focus{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.75);
}

form button {
    appearance: none;
    outline: 0;
    margin-top: 10px;
    background: linear-gradient(#1558ff,#5d44ff);
    border: 0;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    font-size: 1.2rem;
    transition-duration: 0.25s;
    padding: 5px 10px;
    cursor: pointer;
}

.new-user{
    color: black;
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 10px 0 0 0 ;
}

.register-link{
    color: green;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px ;
}


.brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
